@keyframes sliding {
  0% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.wrapper {
  position: relative;
  padding-left: 100%;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  opacity: 0.5;
  transition: opacity 0.5s ease-out;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(90deg, var(--color-white-smoke), transparent);
    z-index: 1;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-image: linear-gradient(90deg, transparent, var(--color-white-smoke));
    z-index: 1;
  }
}

.ticker {
  display: inline-block;
  margin: 0;
  padding: 0 100% 0 0;
  list-style-type: none;
  white-space: nowrap;
  animation: 60s linear 1s infinite normal none running sliding;
}

.item {
  display: inline-block;
  margin: 0 0.5rem;
}
