@use "sass:map";

$breakpoints: (
  default: null,
  small: 550px,
  medium: 760px,
);

@mixin media-query($label) {
  $min-width: map.get($breakpoints, $label);

  @if $min-width {
    @media screen and (min-width: $min-width) {
      @content;
    }
  } @else {
    @content;
  }
}
