@use "@/shared/styles/breakpoints";

.divider {
  padding: 0;
  border: none;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  background: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
}

.times {
  font-size: 36px;
  line-height: 1;
  color: var(--color-electric-ultramarine);

  @include breakpoints.media-query(medium) {
    font-size: 40px;
    line-height: 1.65;
  }
}

.emoji {
  font-size: 30px;
  line-height: 1.2;
  -webkit-tap-highlight-color: transparent;

  @include breakpoints.media-query(medium) {
    line-height: 2.2;
  }
}
