.message {
    margin-right: 12px;
    margin-left: 36px;

    @media (min-width: 576px) {
        margin-right: 0;
    }

    @media (min-width: 768px) {
        margin-left: 48px;
    }

    @media (min-width: 1200px) {
        margin-left: 59px;
    }
}

.message__body {
    position: relative;
    display: inline-block;
    margin-bottom: 6px;
    padding: 6px 12px;
    color: #000;
    font-size: 14px;
    line-height: 1.28;
    word-wrap: break-word;
    background-color: #f1f1f4;
    border-radius: 1.3em;
    box-shadow: 4px 4px 2px 0 #e8e8e8;
    text-size-adjust: 100%;

    @media (min-width: 576px) {
        max-width: 80%;
        padding: 8px 16px;
        font-size: 16px;
    }

    @media (min-width: 768px) {
        max-width: 70%;
    }

    @media (min-width: 1200px) {
        margin-bottom: 8px;
        padding: 10px 20px;
        font-size: 18px;
    }

    &--first {
        border-bottom-left-radius: 4px;
    }

    &--middle {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    &--last {
        border-top-left-radius: 4px;
    }
}

.spinner {
    margin-left: 36px;

    @media (min-width: 768px) {
        margin-left: 48px;
    }

    @media (min-width: 1200px) {
        margin-left: 59px;
    }
}

.spinner__body {
    display: inline-block;
    margin-bottom: 2px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.28;
    background-color: #f1f1f4;
    border-radius: 1.3em;
    box-shadow: 4px 4px 2px 0 #e8e8e8;

    @media (min-width: 768px) {
        margin-bottom: 4px;
        padding: 8px 16px;
        font-size: 16px;
    }

    @media (min-width: 1200px) {
        margin-bottom: 8px;
        padding: 10px 20px;
        font-size: 18px;
    }
}

.spinner__dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #444;
    border-radius: 100%;
    animation: bounce 1s infinite ease-in-out both;

    @keyframes bounce {
        0%,
        80%,
        100% {
            transform: scale(0);
        }

        40% {
            transform: scale(1);
        }
    }

    @media (min-width: 768px) {
        width: 8px;
        height: 8px;
    }

    @media (min-width: 1200px) {
        width: 10px;
        height: 10px;
    }

    &--first {
        animation-delay: -0.32s;
    }

    &--second {
        animation-delay: -0.16s;
    }

    &--third {
        animation-delay: 0s;
    }
}

